@font-face {
    font-family: 'hzk-pixel-12px';
    src: url('https://github.com/UNKNOWNTIMER/whoAreYou/raw/main/text_QA/hzk-pixel-12px.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
